/* Page container */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(
    356deg,
    rgba(27, 7, 92, 1) 0%,
    rgba(103, 78, 230, 1) 65%
  );
}

/* Center wrapper */
.main-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1rem; */
}

/* Main content box */
.content-container {
  width: 100%;
  max-width: 480px;         /* Ideal for forms */
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Form container */
.form-container {
  width: 100%;
}

/* Title */
.login-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 700;
  color: #1e293b;
  margin-bottom: 25px;
  gap: 8px;
}

.login-title img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

/* Options row */
.options {
  display: flex;
  
  font-size: 14px;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s;
}


/* Register section */
.register-link {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}

.register-link a {
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}




